<link rel="stylesheet" href="style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vidushi Singla</title>
</head>

<body style="overflow-x: hidden;">
    <div class="portfolio-container" style="background: rgb(100, 14, 39, 0.8);">
        <div class="offset-lg-4">
            <img src="https://icons-for-free.com/download-icon-Coding-1320568096072194118_512.png"
                class="img-code offset-lg-2">
            <div class="name mt-4 offset-lg-2">Vidushi Singla</div>
            <div class="typing-code offset-lg-1 mt-3">
                I am a Web Developer.
            </div>
        </div>
    </div>

    <div class="text-section d-flex justify-content-center mt-5 pt-3">
        ABOUT ME :)
    </div>
    <div class="d-flex justify-content-around pb-5 mb-5">
        <img src="v.jpg" alt="Profile" class="profile-pic ms-5">
        <div class="about-me m-5 col-7">
            <div class="header ms-3 p-1">
                <div class="dot"></div>
                <div class="dot"></div>
                <div class="dot"></div>
            </div>
            <div class="info">
                <div class="p-4">
                    Hi :)

                    👋 I'm Vidushi Singla, I am pursuing my post graduation in computer science from Savitribai Phule Pune University.
                    I want to work as a front end developer and have an avid interest in Full Stack programming.
                    I like to create new ideas, and develop interesting designs!

                </div>
            </div>
        </div>
    </div>

    <div style="background: rgb(100, 14, 39, 0.7) " class="pb-4">
        <div class="text-section d-flex justify-content-center pb-5 pt-5 text-w">
            PROJECTS
        </div>

        <div class=" d-flex justify-content-between">
            <img src="form1.png" alt="Profile" class="project m-3">
            <img src="cart1.png" alt="Profile" class="project m-3">
            <img src="news.png" alt="Profile" class="project m-3">
        </div>
        <div class=" d-flex justify-content-between">
            <img src="phone1.png" alt="Profile" class="project m-3">
            <img src="wea.png" alt="Profile" class="project m-3">
            <img src="cc.png" alt="Profile" class="project m-3">
        </div>
        <div class=" d-flex justify-content-between">
            <img src="tecg.png" alt="Profile" class="project m-3">

        </div>
    </div>


    <div style="background: black;" class="pb-5">
        <div class="text-section d-flex justify-content-center pb-5 pt-5 text-w">
            SKILLS
        </div>
        <div class="d-flex justify-content-center align-content-center font-sizee">
            <div class="mx-1">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/1200px-HTML5_logo_and_wordmark.svg.png">
                <p class="text-w pt-3 mb-5">HTML5</p>
            </div>
            <div class="mx-1">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/1200px-CSS3_logo_and_wordmark.svg.png">
                <p class="text-w  pt-3">CSS3</p>
            </div>
            <div class="mx-1">
                <img class="logo" src="https://www.globalvoxinc.com/wp-content/uploads/2021/09/javascript.png">
                <p class="text-w pt-3 ps-2">JS</p>
            </div>
            <div class="mx-1">
                <img class="logo" src="https://www.datocms-assets.com/45470/1631110818-logo-react-js.png">
                <p class="text-w pt-3">REACT JS</p>
            </div>
            <div class="mx-1">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b2/Bootstrap_logo.svg/1200px-Bootstrap_logo.svg.png">
                <p class="text-w pt-3">BOOTSTRAP</p>
            </div>
            <div class="mx-1">
                <img class="logo"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png">
                <p class="text-w pt-3">PYTHON</p>
            </div>
            <div class="mx-1">
                <img class="logo" src="https://infinapps.com/wp-content/uploads/2018/10/mongodb-logo.png">
                <p class="text-w pt-3">MONGO DB</p>
            </div>



            <div>
                <img class="logo mx-3"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/18/ISO_C%2B%2B_Logo.svg/1200px-ISO_C%2B%2B_Logo.svg.png">
                <p class="text-w mx-4 pt-3">C++</p>
            </div>
        </div>

        <div style="background: rgba(161, 78, 102, 0.7) ;" class="pb-5">
            <div class="text-section d-flex justify-content-center pb-5 pt-5 text-w">
                EXPERIENCE
            </div>

<div class="history-tl-container">
    <ul class="tl">
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          October 2021-April 2022
        </div>
        <div class="item-title">Full Stack Developer</div>
        <div class="item-detail">HTML, CSS, JS, BOOTSTRAP, PYTHON, MONGODB, POSTGRESS</div>
      </li>
      <li class="tl-item" ng-repeat="item in retailer_history">
        <div class="timestamp">
          January 2021-July 2021
        </div>
        <div class="item-title">Research Assistand</div>
        <div class="item-detail">PYTHON, R</div>
      </li>
    </ul>

  </div>
            </div>
</body>

</html>