.history-tl-container{
  font-family: "Roboto",sans-serif;
width:50%;
margin:auto;
display:block;
position:relative;
}
.history-tl-container ul.tl{
  margin:20px 0;
  padding:0;
  display:inline-block;

}
.history-tl-container ul.tl li{
  list-style: none;
  margin:auto;
  margin-left:200px;
  min-height:50px;
  /*background: rgba(255,255,0,0.1);*/
  border-left:1px dashed #86D6FF;
  padding:0 0 50px 30px;
  position:relative;
}
.history-tl-container ul.tl li:last-child{ border-left:0;}
.history-tl-container ul.tl li::before{
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 3px solid rgba(255, 255, 255, 0.74);
  border-radius: 500%;
  background: #258CC7;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;

}
.history-tl-container ul.tl li:hover::before{
  border-color:  #258CC7;
  transition: all 1000ms ease-in-out;
}

ul.tl li .item-detail{
  color:white;
  font-size:12px;
  opacity: 0.8;
}
ul.tl li .timestamp{
  color: #8D8D8D;
  position: absolute;
width:100px;
  left: -50%;
  text-align: right;
  font-size: 12px;
}

.img-code{
  height: 150px;
  margin-top: 200px;
}
.name{
  color: white;
  opacity: 0.8;
  font-weight: bold;
  font-size: 25px;
}

.portfolio-container{
  padding-bottom: 270px;
}

.typing-code {
  width: 22ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 2em;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}


.text-section{
  font: 18px/24px "opensans-bold",sans-serif;
letter-spacing:3px;

}
.dot {
  height: 15px;
  width: 15px;
  background-color: maroon;
  border-radius: 50%;
  display: inline-block;
}

.profile-pic{
  height: 25%;
  width:15%;
  padding: 15px 15px 30px;
  box-shadow: 11px 11px 6px 2px #888888;
}

.about-me{
  border: solid 1px  rgba(0,0,0,.125);
}

.font-sizee{
  font-size: 12px;
}
.info{
  border-top: solid 1px  rgba(0,0,0,.125);
}

.text-w{
  color:aliceblue;
}
.logo{
  height: 70px;
}

.project{
  height:24%;
  width:30%;
}